#windowHeader{
    border-bottom:1px solid #ccaacc;
    height:24px;
    padding: 0 5px;
}
#windowTitle{
    padding: 0 1%;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
}
.MuiSvgIcon-fontSizeSmall{
    font-size: 12px !important;
}