.subjectCard {
  text-align: center;
}
.subjectCard > .card-body {
  padding: 18% 0;
}
.subjectCard:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  color: blue;
}

.pageTitle {
  color: blue;
}
@media (min-width: 700px) {
  .contentContainer {
    max-width: 690px;
    min-width: 690px;
  }
}
