#help-button-container {
  width: fit-content;
  position: absolute;
  margin: -7% 84%;
  text-align: center;
}
#help-button {
  border-radius: 50%;
  height: 62px;
  width: 62px;
  font-size: 30px;
  font-weight: 500;
}
.theme-white-icon {
  background-color: black;
}
