#loginImg{
    height: 25%;
}
#username{
    width: 224px;
    
}
.loginInputs{
    border:none !important;
    border-bottom: 1px solid #cacaca !important;
    border-radius: 0px !important;
}
.loginInputs:focus{
    border:none !important;
    border-bottom: 2px solid #80bdff !important;
    box-shadow: none !important;
    
}