.searchCust .form-control {
  min-width: -webkit-fill-available !important;
}
.searchCust {
  padding-top: 8px;
}
#zoom-dropdown {
  height: 24px;
  margin-top: 3px;
}
#zoom-dropdown > .btn-primary {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: 3px;
}
#searchHeader {
  margin: 0;
  height: 64px;
  min-width: -webkit-fill-available;
  /* border-bottom: 1px solid #ffffff; */
}
#searchHeader > .row > [class^="col-"] {
  display: block;
  text-align: center;
  padding-top: 5px;
}
.custom-switch {
  margin-top: -5px;
  margin-bottom: 8px;
  padding-left: 3.25rem;
}
/* #reader-off {
  margin-top: 7px;
  margin-left: -20px;
  width: inherit;
} */
