.searchCust .form-control {
  min-width: -webkit-fill-available !important;
}
.searchCust {
  padding-top: 8px;
}
#zoom-dropdown {
  height: 24px;
  margin-top: 4px;
  margin-bottom: 1px;
}
#zoom-dropdown > .btn-primary {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: 0px;
}
#searchHeader {
  margin: 0;
  height: 64px;
  min-width: -webkit-fill-available;
  /* border-bottom: 1px solid #ffffff; */
}
#searchHeader > .row > [class^="col-"] {
  display: block;
  text-align: center;
  padding-top: 5px;
}
.custom-switch {
  margin-top: -8px;
  margin-bottom: 13px;
  margin-left: 35px;
}
.micOn {
  margin-top: 5px;
  margin-left: 20px;
}
.notiOn {
  margin-top: 5px;
  margin-left: 0px;
}
.miconFont {
  margin-left: 20px;
}

.fontSize {
  font-size: 14px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.imgBrand {
  height: 50px;
  width: 100px;
}

.brandName {
  font-style: italic;
  margin-left: -30px;
}

.studName {
  margin-left: 20px;
  margin-top: -0px;
  font-size: 18px;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* #reader-off {
  margin-top: 7px;
  margin-left: -20px;
  width: inherit;
} */
