#file-page-container {
  height: 100%;
}
#file-data-div {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 5%;
  height: 499px;
  overflow-x: auto;
  font-size: 17px;
}

.personaImg {
  margin-left: -3px;
  margin-top: 10% !important;
}
.arrowIcn {
  padding-top: 20px !;
}
