#file-page-container{    
    height: 100%;
}
#file-data-div{
    background-color: rgba(196, 196, 196, 0.2);
    padding:5%;
    height: 410px;
    overflow-x: auto;
}
.zoom-125{
    font-size: 1.2rem;
}
.zoom-150{
    font-size: 1.4rem;
}
.zoom-175{
    font-size: 1.6rem;
}
.zoom-200{
    font-size: 1.8rem;
}