#study-material-table > tbody > tr:hover,
#study-material-table > tbody > tr > td > .btn:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
  color: #0000cc;
}

#bootstrap-overrides {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
#study-material-table > thead > tr > th {
  border-top: none;
}
.contentContainerSm {
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 30px !important;
  margin-right: auto !important;
  margin-left: 0px !important;
  margin-top: 70px;
  font-size: 17px;
}

.btnSub:hover,
.btnSub:active {
  cursor: pointer !important;
  transform: scale(1.01, 1.01) !important;
  color: #0000cc !important;
  font-size: 17px !important;
  font-weight: 500;
}
.smListButton {
  font-size: 17px !important;
}
